src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        ">

	<context:property-placeholder location="classpath:LSIHA.properties"
		system-properties-mode="FALLBACK" />

	<spring:beans>
		<spring:bean name="httpBodyJsonToMapTransformer"
			class="com.lsi.esb.msgha.transformer.HttpBodyJsonToMapTransformer" />
			<spring:import resource="dev.xml"/>
	</spring:beans>

	<flow name="http-JMS">
		<http:inbound-endpoint host="${lsiha.host}" port="${lsiha.port}" path="/LSIMsgFlow/inbound"
			method="POST" exchange-pattern="request-response">
			<transformer ref="httpBodyJsonToMapTransformer" />
		</http:inbound-endpoint>
			<outbound-endpoint ref="processingOutbound"/>
	</flow>

	<flow name="processing-acknowledged">
		<inbound-endpoint ref="processingInbound"/>
		<log-component />
		<flow-ref name="handle-request-reply"/>
		<log-component />
		<outbound-endpoint ref="acknowledgedOutbound"/>
	</flow>

	<flow name="handle-request-reply">
		<log-component />
		<http:rest-service-component httpMethod="POST" 
			serviceUrl="${lsiha.outboundUrl}">
			<http:requiredParameter key="val"
				value="#[message.payload]" />
		</http:rest-service-component>
	</flow>

</mule>
        